<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <target xsi:type="ColoredConsole" name="Console"
                layout="[${date:format=dd.MM.yy HH\:mm\:ss}][${level}][${logger}]${event-properties:ip}: ${message}">
        </target>
        <target xsi:type="ColoredConsole" name="ConsoleInfo"
                layout="[${date:format=dd.MM.yy HH\:mm\:ss}][${level}][${logger}]: ${message}">
        </target>
        <target xsi:type="File" name="File" fileName="server.log"
                layout="[${date:format=dd.MM.yy HH\:mm\:ss}][${level}][${logger}]${event-properties:ip}: ${message}"/>
    </targets>
    <rules>
		<logger name="InfoLog" writeTo="ConsoleInfo" final="true" />
        <logger name="*" minlevel="Trace" writeTo="Console"/>
    </rules>
    <!--<rules>
        <logger name="InfoLog" writeTo="ConsoleInfo" final="true" />
        <logger name="*" minlevel="Warn" writeTo="Console" />
        <logger name="*" minlevel="Trace" writeTo="File" />
    </rules>-->
</nlog>